.advantages {
  min-height: 470px;
  color: #0d0d0d;

  &__header {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 250px;
    text-align: center;
    margin-top: 65px;
  }

  &__subheader {
    margin-top: 38px;
    font-size: 18px;
    font-weight: 700;
  }

  &__descr {
    margin-top: 25px;
    font-size: 14px;
    font-weight: 300;

    span {
      color: #ff0000;
      text-decoration: underline;
    }
  }
}
